/ImgLabelling/datasetChickens/train/images/
/ImgLabelling/imagesChickens/
/ImgLabelling/datasetChickens/train/
/ImgLabelling/datasetChickens/train/labels/
/ImgLabelling/datasetChickens/
/ImgLabelling/videosChickens/

/Training/trained_models/yolo12x/
/Training/trained_models/yolov8x/
