/ImgLabelling/datasetChickens/train/images/
/ImgLabelling/imagesChickens/
/ImgLabelling/datasetChickens/train/
/ImgLabelling/datasetChickens/train/labels/
/ImgLabelling/datasetChickens/
/ImgLabelling/videosChickens/
